b{
	font-family: sans-serif;
	font-size: 50px;
	font-style: bold;
	color: white;
}
z{
	font-family: sans-serif;
	font-size: 20px;
	font-style: bold;
	color: white;
}
o{
	font-family: cursive;
	font-size: 15px;
	color: white;
}